
/* font Styles */
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.span{
    color: #FD6E0A ;
    font-weight: bolder;
    font-size: 45px;

}

/* Shared Styles */
.about-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
}
.about-description{
    font-size: 18px;
    color: #757575;
}


/* Button Styles */
.btn-primary{
    background-color:#FD6E0A;
   border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    padding: 18px 36px;
    cursor: pointer;

}



/* Nav Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    align-items: center;


}

nav .title{
    font-size: 45px;
    font-weight: bolder;
    margin-left: 217px;
    
}

nav ul li{
    list-style: none;
    margin-right: 50px;
    margin-top: none;
}

nav ul li a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}

/* Banner Styles */

.banner-subtitle{
    font-weight: 600px;
    font-size: 45px;
    color:rgb(71, 71, 71);
    margin-bottom: 5px;
    
}

.banner-heading{
    font-weight: 700;
    font-size: 70px;
    margin-bottom: 20px;
}

.banner-description{
    font-weight: 400;
    font-size: 18px;
    color: rgb(117, 117, 117);
}

.banner-content{
    max-width:585px;
    margin-bottom: 30px;
}

.banner-content .btn-secondary{

    background-color: white;
    border-color: #FD6E0A;
     border-radius: 5px;
     color:#FD6E0A;
     font-weight: 700;
     font-size: 20px;
     padding: 18px 36px;
     margin-left: 30px;
     cursor: pointer;
 
}

.banner-image{
    max-width: 584px;
    height: 676px;

}

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 38px 0 230px;
    
}

.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, right bottom;
    background-color: #FFF8F3;

}

/* About me Styles */

.about{
    max-width: 1140px;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 131px 150px;

}
.about-items{
    display: flex;
    justify-content: space-around;
    
}

/* Skills Styles */
.skill-heading{
    text-align: center;
    max-width: 909px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.item-heading{
    font-weight: bold;
    font-size: 20px;
    
}


.skill-description{
    font-size: 16px;
    color:#757575;
   

}

.item1{
    max-width: 267px;
    background-color:whitesmoke;
    box-shadow: 0 6px 50px 0 rgb(0, 0, 0, 0.2);
    border-radius: 5px;
    padding:50px 30px;

}

.skill-items{
    display: flex;
    justify-content: space-around;
    margin-left: 230px;
    margin-right: 230px;
    gap: 24px;
}

/* resume styles */
.resume-heading{
    font-weight: bold;
    font-size: 30px;
}

.resume-subheading{
    font-size: 25px;
    font-weight: bold;
}

.resume-short-description{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
}

.resume-description{
    font-size: 16px;
    color: #757575;
}

.parent{
    display: flex;
    gap: 124px;
}

.resume-subheading .resume-short-description .resume-description{
    width: 458px;

}

.resume{
    margin: 0 230px;
}

.resume-button{
    text-align: center;
}

/* footer styles */

footer{
    padding: 130px 230px;
    background-color:#FFF8F3;
    display: flex;
    gap: 100px;
    
}

.column1{
    width: 50%;
}

footer input[type="text"], footer input[type="email"], footer textarea{
    width: 461px;
    border-radius: 5px;
    background-color: #fff;
    color: #757575;
    border: none;
    font-size: 16;
    padding: 18px 30px;
    margin-bottom: 24px;
}

